body {
    background-color: #202529;
    color: white;
    margin: 0px;
    padding: 0px;
}

.container {
    min-width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
    padding: 50px 0;
}

.pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url(./bachi.jpg) no-repeat center center/cover;
}

.name h2 {
    font-size: 18px;
    color: #9E8C6C;

}

.name h1 {
    font-size: 126px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px auto;
}

.name button {
    background-color: #00b4d8;
    color: wheat;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.name button:hover {
    background-color: #0096c7;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    grid-gap: 30px;
}

.skills {
    h2 {

        font-size: 18px;
        color: rgba(158, 140, 108, 1);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


    ul li {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.AboutMe {
    h1 {
        font-size: 36px;

    }

    p {
        font-size: 20px;
    }
}

.awards {
    h2 {
        font-size: 18px;
        color: rgba(158, 140, 108, 1);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.Experience {
    grid-row: span 2; /* This will make the section span 2 rows */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 18px;
        color: rgba(158, 140, 108, 1);
    }

    p {
        font-size: 20px;
    }
}

.traits {
    h2 {
        font-size: 18px;
        color: rgba(158, 140, 108, 1);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
    }
}

.recent-works {
    h1 {
        font-size: 36px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #0096c7;
    }

    ul li {
        font-size: 20px;
    }
}

.Education {
    h1 {
        font-size: 36px;

    }

    h2 {
        font-size: 18px;
        color: rgba(158, 140, 108, 1);
    }
}

.contact {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-top: 50px;
    padding: 50px 0;

    h2 {
        font-size: 66px;
    }

    p {
        font-size: 36px;
        color: rgba(6, 153, 166, 1);
    }

    a {
        font-size: 26x;
        margin: 0 10px;
        color: #00b4d8;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .container {
        min-width: 95%;
    }

    .header  {
        gap: 50px;
        flex-direction: column;
        .pic{
            width: 200px;
            height: 200px;
        }
    }

    .header h1 {
        font-size: 24px;
    }

    .header h2 {
        font-size: 18px;
    }

    section {
        margin: 15px 0;
    }

    h2 {
        font-size: 20px;
    }

    .contact p {
        font-size: 16px;
    }

    .main {
        grid-template-columns: 1fr; /* This will make the section span 1 column */
    }
}